* {
    background-color: transparent;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    border-radius: 8px;
}

.container {
    height: 100vh;
    background: rgb(112, 154, 195);
    background: linear-gradient(180deg, rgba(112, 154, 195, 1) 0%, rgba(222, 164, 176, 1) 100%);
}

small {
    color: white;
    font-size: 0.7rem;
}

.photo {
    border: 3px solid #F3F4F9;
    border-radius: 50%;
    margin-top: -70px;
    max-width: 70px;
    height: auto;
}

.figure-caption {
    color: black;
    font-size: 0.625rem;
    font-weight: bold;
    text-transform: uppercase;
}

.list-group {
    gap: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}

.list-group-item {
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}