body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    text-align: center;
    background: rgb(112, 154, 195);
    background: linear-gradient(180deg, rgba(112, 154, 195, 1) 0%, rgba(222, 164, 176, 1) 100%);
}

.photo {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -50px;
    max-width: 70px;
    height: auto;
}

.figure-caption {
    text-transform: uppercase;
    font-weight: bold;
}

.name {
    margin-top: 10px !important;
}

.w3-theme-d3 {
    background-color: rgba(42, 169, 219, 0.274) !important;
}

.w3-theme-d3:hover {
    background-color: rgba(42, 169, 219, 0.8) !important;
}

a {
    font-size: smaller;
}

.w3-border {
    border: 1px solid #fff !important;
    border-radius: 10px;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.links-container a {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.icons {
    display: flex;
    gap: 24px;
}

.icons a {
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .link {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 400px;
    }
}